@import '../../../../styles/variables.scss';

.requestContainer {
  width: 100%;
  height: 100%;
  background-color: #fff;
  .section {
    padding: 10px;
    .reciveRequestList {
      .reciveRequestHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
        .reciveRequestHeader__text {
          font-size: 16px;
          font-weight: 400;
          color: #000;
        }
      }
      .reciveRequestItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        &:last-child {
          border: none;
        }
        
        .reciveRequestItem__image {
          width: 30vw;
          height: 30vw;
          border-radius: 20%;
          overflow: hidden;
          margin-right: 20px;
          padding: 10px;
        }


        .reciveRequestItem__text__wrapper {
          width: 50vw;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
        }

        .reciveRequestItem__text__header {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .reciveRequestItem__text {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
        }


        .reciveRequestItem__label {
          width: fit-content;
          block-size: fit-content;
          padding: 4px;
          background-color: #5F6D7E;
          border-radius: 4px;
          margin: 1vw 1vw 1vw 0;
        }
        .reciveRequestItem__label__text {
          font-size: 13px;
          color: #fff;
        }
        .reciveRequestItem__major {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          .reciveRequestItem__major__text {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 15px;
            font-weight: 400;
            color: #a2a2a2;
          }
        }

        .reciveRequestItem__button__wrapper {
          width: 20vw;
          height: 30vw;
          display: flex;
          justify-content:space-between;
          align-items: center;
          flex-direction: column;
          padding: 5vw 0;
        }
        .reciveRequestItem__button__fav {
          border: none;
          background-color: transparent;
          font-size: 1.15rem;
        }
        .reciveRequestItem__button__text {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 15px;
          font-weight: bold;
          color: #ffffff;
          background-color: $point-color-3;
          border: none;
          padding: 1vw 2vw;
          border-radius: 5px;
        }
        
      }
    }
    .spendBlindRequestList {
      .spendBlindRequestHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        border-bottom: 1px solid #ddd !important;
        .spendBlindRequestHeader__text {
          font-size: 16px;
          font-weight: 400;
          color: #000;
        }
      }
      .spendBlindRequestItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        &:last-child {
          border: none;
        }
        .spendRequestItem__image {
          width: 30vw;
          height: 30vw;
          border-radius: 20%;
          overflow: hidden;
          margin-right: 20px;
          padding: 10px;
        }


        .spendRequestItem__text__wrapper {
          width: 50vw;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
        }

        .spendRequestItem__text__header {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .spendRequestItem__text {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
        }


        .spendRequestItem__label {
          width: fit-content;
          block-size: fit-content;
          padding: 4px;
          background-color: #5F6D7E;
          border-radius: 4px;
          margin: 1vw 1vw 1vw 0;
        }
        .spendRequestItem__label__text {
          font-size: 13px;
          color: #fff;
        }
        .spendRequestItem__major {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          .spendRequestItem__major__text {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 15px;
            font-weight: 400;
            color: #a2a2a2;
          }
        }

        .spendRequestItem__button__wrapper {
          width: 20vw;
          height: 30vw;
          display: flex;
          justify-content:space-between;
          align-items: center;
          flex-direction: column;
          padding: 5vw 0;
        }
        .spendRequestItem__button__fav {
          border: none;
          background-color: transparent;
          font-size: 1.15rem;
        }
        .spendRequestItem__button__text {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 15px;
          font-weight: bold;
          color: #ffffff;
          background-color: $point-color-3;
          border: none;
          padding: 1vw 2vw;
          border-radius: 5px;
        }
        .spendRequestItem__button__cancle {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 15px;
          font-weight: bold;
          color: #ffffff;
          background-color: $point-color-2;
          border: none;
          padding: 1vw 2vw;
          border-radius: 5px;
        }
      }
    }
  }
}
