@import '../../../../styles/variables.scss';

.favoriteContainer {
  width: 100%;
  height: 100%;
  background-color: #fff;
  .section {
    padding: 10px;
    .favoriteHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      border-bottom: 1px solid #ddd;
      .favoriteHeader__text {
        font-size: 16px;
        font-weight: 400;
        color: #000;
      }
    }
    .favoriteList {
      .favoriteItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        &:last-child {
          border: none;
        }
        
        .favoriteItem__image {
          width: 30vw;
          height: 30vw;
          border-radius: 20%;
          overflow: hidden;
          margin-right: 20px;
          padding: 10px;
        }


        .favoriteItem__text__wrapper {
          width: 50vw;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: column;
        }

        .favoriteItem__text__header {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .favoriteItem__text {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
        }


        .favoriteItem__label {
          width: fit-content;
          block-size: fit-content;
          padding: 4px;
          background-color: #5F6D7E;
          border-radius: 4px;
          margin: 1vw 1vw 1vw 0;
        }
        .favoriteItem__label__text {
          font-size: 13px;
          color: #fff;
        }
        .favoriteItem__major {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          .favoriteItem__major__text {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 15px;
            font-weight: 400;
            color: #a2a2a2;
          }
        }

        .favoriteItem__button__wrapper {
          width: 23vw;
          height: 30vw;
          display: flex;
          justify-content:space-between;
          align-items: center;
          flex-direction: column;
          padding: 5vw 0;
        }
        .favoriteItem__button__fav {
          border: none;
          background-color: transparent;
          font-size: 1.15rem;
        }
        .favoriteItem__button__text {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 0.8rem;
          font-weight: bold;
          color: #ffffff;
          background-color: $point-color-3;
          border: none;
          padding: 1vw 2vw;
          border-radius: 5px;
        }
        
      
    
      }
    }
    .recommendHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid #ddd;
      .recommendHeader__text {
        font-size: 16px;
        font-weight: 400;
        color: #000;
      }
    }
    .recommendList {
      .recommendItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        &:last-child {
          border: none;
        }
        .recommendItem__image {
          width: 100px;
          height: 100px;
          border-radius: 8%;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .recommendItem__text {
          margin-left: 10px;
          .recommendItem__name {
            font-size: 16px;
            font-weight: 700;
            color: #000;
          }
          .recommendItem__age {
            font-size: 14px;
            font-weight: 400;
            color: #000;
          }
        }
        .recommendItem__button {
          button {
            padding: 4px 8px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 700;
            border: none;
            &.acceptBtn {
              background-color: $point-color-3;
              color: #fff;
            }
            &.denyBtn {
              background-color: $point-color-4;
              color: #fff;
            }
          }
        }
      
    
      }
    }
  }
}
