@import '../../styles/variables.scss';

.groupQrContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $point-color-1;
}

.groupQrTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.groupQrTextTitle {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

.groupQrCodeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.groupQrCodeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 50vh;
  background-color: #ffffff;
  border-radius: 4%;
}

.groupQrCodeInnerBox {
  --b: 5px;   /* thickness of the border */
  --c: #0652DC;   /* color of the border */
  --w: 30px;  /* width of border */
  --r: 25px;  /* radius */
  

  padding: var(--b); /* space for the border */
  
  position:relative;
  /*Irrelevant code*/  
  width:70vw;
  height:40vh;
  box-sizing:border-box;
  margin:5px;
  display:inline-flex;
  font-size:30px;
  justify-content:center;
  align-items:center;
  text-align:center;

}

.groupQrCodeInnerBox::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--c,red);
  padding: var(--b);
  border-radius: var(--r);
  -webkit-mask:
    linear-gradient(  0deg,#000 calc(2*var(--b)),#0000 0) 50% var(--b)/calc(100% - 2*var(--w)) 100% repeat-y,
    linear-gradient(-90deg,#000 calc(2*var(--b)),#0000 0) var(--b) 50%/100% calc(100% - 2*var(--w)) repeat-x,
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: exclude;
}

.groupQrCodeImg {
  width: 240px;
  height: 240px;
  z-index: 1;
}

.groupQrButtonContainer {
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vw;
  font-size: 12vw;
  color: #fff;
}

